/**
 * ACF Block Variants Template Part Styles
 */

.acf-block-variants {
    &__heading {
        @include fluid(font-size, 1.5rem, 2.25rem);
    }

    &__content {
        @include fluid(font-size, 1.125rem, 1.5rem);
    }

    &__content-wrapper {
        @include media-breakpoint-up(lg) {
            margin-bottom: -4.0625rem;
        }
    }

    &__list-item {
        padding: .3125rem;
    }

    &__image-col {
        height: 17.5rem;

        @include media-breakpoint-up(md) {
            min-height: 26.5rem;
        }
        @include media-breakpoint-up(xl) {
            min-height: 43.5rem;
        }

        .tns-inner,
        .tns-outer {
            height: 100%;
        }
    }

    &__image-wrapper {
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            bottom: 0;
        }

        &:not(&--alt) {
            @include media-breakpoint-up(lg) {
                right: 0;
                left: 41%;
            }
        }

        &--alt {
            @include media-breakpoint-up(lg) {
                right: 41%;
                left: 0;
            }
        }
    }

    &__tab-btn {
        color: $primary;

        &.active {
            color: $white;

            &::after {
                background: $primary;
            }
        }
    }

    &__tab-wrapper {
        &:not(&--alt) {
            @include media-breakpoint-up(lg) {
                width: 38.125rem;
            }
        }

        &--alt {
            @include media-breakpoint-up(lg) {
                left: -19rem;
                width: 43rem;
                padding-left: 4.25rem;
            }
            @include media-breakpoint-up(xl) {
                left: -16rem;
            }
            @include media-breakpoint-up(xxl) {
                left: -6.875rem;
            }
        }
    }

    &__tab-heading {
        font-size: 1.5rem;
    }

    &__popup-wrapper {
        max-width: 55.625rem;
        max-height: 60rem;
    }

    &__popup-image {
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__slider-wrapper {
        position: relative;

        @include media-breakpoint-up(lg) {
            position: static;
        }
    }

    .main-variants-controls {
        &__controls {
            @include media-breakpoint-up(lg) {
                top: auto;
                right: 3.125rem;
                bottom: 3.125rem;
                left: auto;
                width: 6.25rem;
                height: 0;
            }
        }

        &__button {
            @include media-breakpoint-up(lg) {
                transform: translateX(0);
            }

            &--next {
                @include media-breakpoint-up(md) {
                    transform: translateX(50%);
                }
            }

            &--prev {
                @include media-breakpoint-up(md) {
                    transform: translateX(-50%);
                }
            }
        }
    }

    &--alt {
        .main-variants-controls {
            &__controls {
                @include media-breakpoint-up(lg) {
                    right: auto;
                    left: 3.125rem;
                }
            }
        }
    }
}
