/**
 * Variables
 */

/* ~~~~~~~~~~ WP Admin Bar heights ~~~~~~~~~~ */

$mobile-wp-admin-bar-height: 2.875rem;
$desktop-wp-admin-bar-height: 2rem;

/* ~~~~~~~~~~ Settings ~~~~~~~~~~ */

$design-source: "sketch"; // "adobe" or "sketch" (for Figma use "sketch")

$crunch-breakpoints: $grid-breakpoints !default;
$crunch-spacers: (
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 2rem,
    6: 3rem,
    7: 4rem,
    8: 5rem,
    9: 6.25rem,
    10: 8rem,
);

$fluid-defaults: (
    min: null,
    max: null,
    from: xs,
    to: xl,
    important: false,
);

/* ~~~~~~~~~~ Fonts ~~~~~~~~~~ */

 $font-weight-thin: 100;
 $font-weight-light: 300;
 $font-weight-regular: 400;
 $font-weight-medium: 500;
 $font-weight-semibold: 600;
 $font-weight-bold: 700;

/* ~~~~~~~~~~ Plugins ~~~~~~~~~~ */
