/**
 * Mobile Navigation Template Part Styles
 */

.mm-menu {
    --mm-color-background: $white;

    .mm-panel {
        padding: 6.5rem 1rem 1.5rem 2.625rem;

        @include media-breakpoint-up(md) {
            padding-top: 8.5rem;
        }

        .mobile-navigation {
            &__logo {
                top: .625rem;
                right: 6.75rem;
                left: 0;

                @include media-breakpoint-up(md) {
                    top: 1.875rem;
                    right: auto;
                    left: 2.625rem;
                }

                img {
                    @include fluid(height, 2.8125rem, 3.125rem);
                }
            }

            ul {
                padding-left: 0;
                list-style-type: none;
            }
        }

        .page_item {
            @include c-transition(color);

            //&:not(:last-of-type) {
            //    margin-bottom: 1.5rem;
            //
            //    @include media-breakpoint-up(lg) {
            //        margin-bottom: 2.75rem;
            //    }
            //}

            &:hover {
                color: $primary;
            }

            a {
                font-weight: $font-weight-bold;
                font-family: $font-family-primary;
                @include fluid(font-size, 1.125rem, 1.5rem);
            }

            &.current_page_item {
                a {
                    color: $primary;
                }
            }
        }

        .mm-navbar {
            display: none;
            border-color: rgba(#808080, 0.3);
            color: $white;
            font-size: 0.9em;

            &__btn {
                &:before {
                    border-color: rgba($white, 0.75);

                    @include c-transition(border-color);
                }

                &:hover,
                &:focus {
                    &:before {
                        border-color: $primary;
                    }
                }
            }

            &__title {
                color: $white;

                &:hover,
                &:focus {
                    color: $primary;
                }
            }
        }

        .mm-listview {
            &:first-of-type {
                margin-bottom: 0;
            }

            &:nth-of-type(2) {
                margin-top: 0;
            }

            .mm-listitem {
                &:not(:last-of-type) {
                    margin-bottom: 1.5rem;

                    @include media-breakpoint-up(lg) {
                        margin-bottom: 2.75rem;
                    }
                }

                &.menu-item-type-post_type {
                    &.current_page_item {
                        a {
                            color: $primary;
                        }
                    }
                }

                &:after {
                    display: none;
                }

                a {
                    padding: 0;
                    color: $black;
                    font-weight: $font-weight-bold;
                    font-family: $font-family-primary;
                    line-height: normal;

                    @include fluid(font-size, 1.125rem, 1.5rem);
                    @include c-transition(color);
                }

                &__text {
                    color: rgba($white, 0.75);

                    &:hover,
                    &:focus {
                        color: $primary;
                    }
                }

                &__btn {
                    border-left-color: rgba(#808080, 0.3);

                    &:after {
                        border-color: rgba($white, 0.75);

                        @include c-transition(border-color);
                    }

                    &:hover,
                    &:focus {
                        &:after {
                            border-color: $primary;
                        }

                        + a {
                            color: $primary;
                        }
                    }
                }

                &.mm-listitem_selected {
                    .mm-listitem {
                        &__text {
                            background: none;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
