/**
 * Footer Template Part Styles
 */

 .main-footer {
     &__copyrights {
         p {
             @include fluid(font-size, .6875rem, .875rem);
         }
     }

     &__contact-title {
         font-size: 1.5rem;
     }

     &__form-wrapper {
         @include media-breakpoint-up(lg) {
             max-width: 29.375rem;
         }
     }

     &__title {
         &::after {
             content: '';
             position: absolute;
             bottom: 0;
             left: 0;
             width: 1.875rem;
             height: 3px;
             background: $white;

             @include media-breakpoint-up(md) {
                 width: 3.4375rem;
             }
         }
     }

     &__socials-item {
         max-width: 2.1875rem;
         max-height: 2.1875rem;

         @include media-breakpoint-up(md) {
             max-width: 2.9375rem;
             max-height: 2.9375rem;
         }

         &:not(:last-of-type) {
             @include fluid(margin-right, 2rem, 1.4375rem);
         }
     }

     &__popup-wrapper {
         max-width: 33.75rem;
         max-height: 44.125rem;

         &--phone {
             max-height: 31.5rem;
         }
     }
 }

.contact-modal-wrapper,
.phone-modal-wrapper {
    .gform_confirmation_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.gform_wrapper .top_label li.gfield.gf_inline {
    &.phone-modal__input {
        @include media-breakpoint-up(md) {
            width: 80% !important;
        }
    }

    &.phone-modal__button {
        @include media-breakpoint-up(md) {
            width: 20% !important;
        }

        button {
            height: 3.875rem !important;
            margin-top: .25rem;
        }
    }
}

.phone-modal {
    &__heading-content {
        max-width: 19.25rem;
        margin-right: auto;
        margin-left: auto;
    }

    button {
        border: 0;
    }
}

.contact-modal {
    &__confirm-wrapper {
        max-width: 18.75rem;

        button {
            border: none;
        }
    }

    &__title {
        .line {
            width: 2.1875rem;
            height: 2px;
            background: $primary;

            @include media-breakpoint-up(md) {
                width: 3.4375rem;
                height: 3px;
            }
        }
    }
}
