/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ Default post styles ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.single-post-preview {
    &:not(:last-of-type) {
        border: none;

        @include fluid(margin-bottom, 1.5rem , 5.25rem);
    }

    &:first-of-type {
        @include fluid(margin-top, 5.25rem, 10.5rem);

        @include media-breakpoint-up(lg) {
            padding: 5.25rem 0;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }
    }

    &__slider-wrapper {
        height: 20rem;
    }

    &__arrows {
        top: 0;
        bottom: 0;
        height: 3.125rem;
        margin: auto;
    }

    &__slider-counter {
        bottom: 0;
        left: 0;
        width: 4.5rem;
        height: 3.125rem;
    }

    &__controls {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
    }

    &__button {
        width: 2.25rem;
        max-width: 100%;
        height: 2.25rem;

        &--next {
            @include media-breakpoint-up(md) {
                transform: translateX(50%);
            }
        }

        &--prev {
            @include media-breakpoint-up(md) {
                transform: translateX(-50%);
            }
        }
    }

    .tns-nav {
        display: none;
    }

    &__list {
        grid-template-columns: repeat(2, .4fr);
    }

    &__list-item {
        &:before {
            content: '';
            position: absolute;
            top: .6rem;
            bottom: 0;
            left: 0;
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background: $primary;

            @include media-breakpoint-up(md) {
                top: .5rem;
            }
        }
    }
}
