/**
 * Section title Template Part Styles
 */

.section-title {
    .line {
        width: 2.1875rem;
        height: 2px;
        background: $primary;

        @include media-breakpoint-up(md) {
            width: 3.4375rem;
            height: 3px;
        }
    }

    &__heading {
        &:not(&--modal) {
            font-size: 1.875rem;

            @include media-breakpoint-up(lg) {
                font-size: 3rem;
            }
        }

        &--modal {
            @extend %font-size-30;
        }
    }
}
