/**
 * ACF Block Heading with content Template Part Styles
 */

.acf-block-heading-with-content {
    .line {
        width: 2.1875rem;
        height: 2px;
        background: $primary;

        @include media-breakpoint-up(md) {
            width: 3.4375rem;
            height: 3px;
        }
    }

    &__heading {
        &__heading {
            font-size: .875rem;

            @include media-breakpoint-up(md) {
                font-size: 1.125rem;
            }
        }
    }

    &__content {
        max-width: 14.1rem;

        @include media-breakpoint-up(sm) {
            max-width: 100%;
        }
    }
}
