/**
 * Tiny Slider Template Part Styles
 */

.crunch-tiny-slider {
    // &__controls {
    //     position: absolute;
    //     width: 100%;
    //     transform: translateY(-50%);
    //     top: 50%;

    //     .crunch-tiny-slider__control-button {
    //         position: absolute;
    //     }

    //     .crunch-tiny-slider-button-prev {
    //         left: 0;
    //     }

    //     .crunch-tiny-slider-button-next {
    //         right: 0;
    //     }
    // }

    .tns-outer {
        $tns-controls: '.tns-controls';

        position: relative;

        #{$tns-controls} {
            button {
                position: absolute;
                top: 50%;
                z-index: 1;
                padding: 0;
                border: 0;
                background-color: transparent;
                transform: translateY(-50%);

                &[data-controls='prev'] {
                    @include fluid(left, 0.75, -1.5rem);
                }

                &[data-controls='next'] {
                    @include fluid(right, 0.75, -1.5rem);
                }

                &:hover {
                    &:not([disabled]) {
                        #{$tns-controls}__icon {
                            path {
                                fill: $primary;
                            }
                        }
                    }
                }

                &[disabled] {
                    cursor: no-drop;
                }
            }

            &__icon {
                @include fluid(
                    (
                        height: (
                            min: 0.5,
                            max: 2rem,
                        ),
                        width: (
                            min: 0.5,
                            max: 1.25rem,
                        ),
                    )
                );

                path {
                    @include c-transition(fill);
                }
            }
        }
    }

    .tns-nav {
        text-align: center;

        @include fluid-margin(top, 5);

        button {
            width: 0.625rem;
            height: 0.625rem;
            margin: 0.375rem;
            padding: 0;
            border: 0;
            border-radius: 50%;
            background-color: #d8d8d8;

            @include c-transition(background-color);

            &:hover,
            &.tns-nav-active {
                background-color: $primary;
            }
        }
    }
}
