/**
 * ACF Block Content with image Template Part Styles
 */

.acf-block-content-with-image {
    &__image {
        height: 17.5rem;


        @include media-breakpoint-up(md) {
            height: 100%;
            min-height: 26.5rem;
        }
    }
}
