/**
 * ACF Block Map Template Part Styles
 */

.acf-block-map {
    @include media-breakpoint-up(xxl) {
        background: $gray-4;
    }

    &__content-col {
        max-width: 24.6875rem;
    }

    &__content-row {
        top: 1.5rem;
        bottom: 1.5rem;
    }

    &__icon-wrapper {
        width: 3.25rem;
        height: 3.25rem;

        @include media-breakpoint-up(xxl) {
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -.3125rem;
                left: 0;
                width: .625rem;
                height: .625rem;
                margin: auto;
                background: inherit;
                transform: rotate(45deg);
            }
        }
    }

    &__icon-title {
        width: calc(100% - 3.25rem);
    }

    &__heading-wrapper {
        cursor: pointer;

        &[aria-expanded="true"]{
            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            @include c-transition(transform);
        }
    }

    &__heading-wrapper-box {
        top: 0;
        bottom: 0;
        left: -3.8125rem;
        width: 1.125rem;
        height: 1.875rem;
    }

    &__tab-icon {
        max-width: 2rem;
        max-height: 1.85rem;
    }

    .crunch-button {
        height: 4.375rem;
    }

    &__figure-wrapper {
        height: 56.625rem;
    }

    &__collapse-content {
        overflow-y: auto;
        max-height: 18.875rem;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 95%;
            height: 1.7rem;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
        }

        &::-webkit-scrollbar {
            width: .438rem;
        }

        &::-webkit-scrollbar-track {
            background: $white;
        }

        &::-webkit-scrollbar-thumb {
            background: $primary;
        }
    }

    &__figure {
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;

        @include c-transition(opacity);

        &--active {
            opacity: 1;
        }
    }

    &__tabs-mobile-item {
        width: 50%;

        @include media-breakpoint-up(md) {
            width: 25%;
        }

        .crunch-button {
            height: 3rem;

            &.active {
                background: $primary;
                color: $white;
            }
        }
    }

    &__tabs-mobile-figure {
        height: 42rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: 425px) {
            height: 48rem;
        }
        @include media-breakpoint-up(md) {
            height: 32rem;
            background-color: $gray-4;
        }
        @include media-breakpoint-up(lg) {
            height: 40rem;
        }
        @include media-breakpoint-up(xxl) {
            background-color: transparent;
        }
    }

    &__tabs-mobile-place {
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }
}
