/**
 * ACF Block Calendar Template Part Styles
 */

.acf-block-calendar {
    &__heading-primary {
        max-width: 32rem;

        @include fluid(font-size, 1.875rem, 3rem, lg);
    }

    &__heading_secondary {
        max-width: 12rem;

        @include fluid(font-size, 1.125rem, 1.5rem);
        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }

    &__content {
        max-width: 23rem;
    }

    .line {
        width: 2.1875rem;
        height: 2px;
        background: $primary;

        @include media-breakpoint-up(md) {
            width: 3.4375rem;
            height: 3px;
        }
    }

    &__button {
        max-width: 5.125rem;
        height: 3rem;
        border: 2px solid transparent;
        outline: none;
        font-size: .75rem;

        @include c-transition(border-color);

        @media only screen and (min-width: 360px) {
            max-width: 6.125rem;
        }
        @include media-breakpoint-up(sm) {
            max-width: 7.5rem;
            font-size: .875rem;
        }
        @include media-breakpoint-up(md) {
            max-width: 9.25rem;
        }
        @include media-breakpoint-up(lg) {
            max-width: 7.5rem;
        }
        @include media-breakpoint-up(xl) {
            max-width: 9.125rem;
        }

        &:hover {
            border-color: $primary;
        }

        &:focus {
            outline: none;
        }
    }

    &__slider-buttons {
        width: 100%;
        outline: none;

        @include media-breakpoint-up(md) {
            width: auto;
        }

        &:focus {
            outline: none;
        }
    }

    &__slider-button {
        height: 3.25rem;
        outline: none;

        &:hover,
        &:focus {
            outline: none;
        }
    }

    &__calendar-row {
        @include media-breakpoint-up(md) {
            max-width: 40.25rem;
        }
        @include media-breakpoint-up(lg) {
            max-width: unset;
        }
    }

    &__list-item {
        &:not(:last-of-type) {
            margin-bottom: 1rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 1.25rem
            }
        }
    }

    &__calendar-wrapper,
    &__buttons-wrapper {
        @include media-breakpoint-up(md) {
            background: $olive-2;
        }
    }

    &__arrows,
    &__controls {
        @include media-breakpoint-up(md) {
            position: absolute;
            height: 0;
        }
    }

    &__controls {
        top: 50%;
        margin-top: 1rem;

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__mobile-controls {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 .625rem;
        height: 3.25rem;
    }

    &__buttons-wrapper {
        @include media-breakpoint-up(md) {
            display: grid{};
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__modal-button {
        height: 3.25rem;

        &--short {
            margin-bottom: 1rem;
            background-color: $olive-3;

            @include media-breakpoint-up(md) {
                max-width: 9.25rem;
                margin: 0 2.75rem 0 0;
            }
            @include media-breakpoint-up(lg) {
                max-width: 7.5rem;
                margin-right: .875rem;
            }
            @include media-breakpoint-up(xl) {
                max-width: 9.125rem;
                margin-right: 1rem;
            }
            @include media-breakpoint-up(xxl) {
                margin-right: 2.75rem;
            }

            &:hover {
                background-color: darken($olive-3, 3%);
            }
        }

        &--long {
            background-color: $secondary;

            @include media-breakpoint-up(md) {
                max-width: 21.125rem;
            }
            @include media-breakpoint-up(lg) {
                max-width: 15.875rem;
            }
            @include media-breakpoint-up(xl) {
                max-width: 19.1875rem;
            }
            @include media-breakpoint-up(xxl) {
                max-width: 21rem;
            }

            &:hover {
                background-color: darken($secondary, 3%);
            }
        }
    }

    .single-post-preview__button {
        cursor: pointer;
    }
}
