/**
 * ACF Block Calendar Template Part Styles
 */

.acf-block-calendar {
    &__heading-primary {
        max-width: 32rem;

        @include fluid(font-size, 1.875rem, 3rem, lg);
    }

    &__heading_secondary {
        max-width: 12rem;

        @include fluid(font-size, 1.125rem, 1.5rem);
        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }

    &__content {
        max-width: 23rem;
    }

    .line {
        width: 2.1875rem;
        height: 2px;
        background: $primary;

        @include media-breakpoint-up(md) {
            width: 3.4375rem;
            height: 3px;
        }
    }

    &__button {
        max-width: 6.125rem;
        height: 3rem;
        border: 2px solid transparent;

        @include c-transition(border-color);

        @include media-breakpoint-up(md) {
            max-width: 7.5rem;
        }
        @include media-breakpoint-up(xl) {
            max-width: 9.125rem;
        }

        &:hover {
            border-color: $primary;
        }
    }

    &__list-item {
        &:not(:last-of-type) {
            margin-bottom: 1rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 1.25rem
            }
        }
    }

    &__calendar-wrapper {
        @include media-breakpoint-up(md) {
            background: $olive-2;
        }
    }

    &__arrows,
    &__controls {
        @include media-breakpoint-up(md) {
            position: absolute;
            height: 0;
        }
    }

    &__controls {
        top: 50%;
        margin-top: 1rem;

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__mobile-controls {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 .625rem;
        height: 3.25rem;

        button {
            background: $primary;

            &:focus,
            &:hover {
                background: $primary;
                color: $white;
            }
        }
    }
}
