/**
 * ACF Block Logos Grid Template Part Styles
 */

.acf-block-logos {
    .row {
        > [class*='col-'] {
            .row {
                @include fluid(margin-x, -1.25rem, -2.1875rem);

                > [class*='col-'] {
                    @include fluid(padding-x, 1.25rem, 2.1875rem);

                    @include media-breakpoint-up(lg) {
                        flex: 0 0 20%;
                        max-width: 20%;
                    }

                    a.single-logo-wrapper {
                        &:hover,
                        &:focus {
                            opacity: 0.75;
                            transform: translateY(-0.375rem);
                        }
                    }

                    .single-logo-wrapper {
                        @include fluid(height, 2.25rem, 5.625rem);
                    }
                }
            }
        }
    }
}
