/**
 * ACF Block Cols Template Part Styles
 */

.acf-block-cols {
    &__col {
        &:not(:last-of-type) {
            .acf-block-cols__content-wrapper {
                border-bottom: 1px solid $gray;

                @include media-breakpoint-up(md) {
                    border-bottom: 0;
                }
            }
        }
    }

    &__title {
        @include fluid(font-size, 1.125rem, 1.5rem);
    }

    &__content {
        @include fluid(font-size, .875rem, 1.125rem);
        @include media-breakpoint-up(md) {
            max-width: 17rem;
        }
    }

    &__icon {
        max-height: 4.125rem;

        @include media-breakpoint-up(lg) {
            max-height: 5.625rem;
        }
    }
}
