.modal {
    padding: 6rem 1rem;

    @include media-breakpoint-up(md) {
        padding: 8rem 1rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 10rem 1rem;
    }

    &.opened {
        display: block;
        background: rgba($black, .4);
    }

    &__close {
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
